{{#if post.length}}
  <div class="col-md-6 project-list">
    <h3>previous post!</h3>


  {{#each posts as |post|}}
  <div class="media-content">
    <div class="content">
      <div class="box">
      <p><a href="../models/User.js"><strong>{{username}}</strong><small>{{name}}</a></small><small>{{format_date}}</small>
        <br>
        {{post}}
      </p>
    </div>
    <button class="delete" id="delete-post"  data-id="{{post.id}}"></button>
  </div>
  {{/each}}
</article>
{{/if}}
</div>
